//btn, media-links
$default-red: #F32A32;
$hover-red: #D92129;
$default-grey: #A1A8AE;
$active-dark: #333;
//text
$white: #F7F7FA;
$dark: #000;
$blue: #0076C5;
$red: #BF1E2D;
$green: #36AB27;
//riverstart
$additional-gray: #9A9AAD;
$primary-black : #1F2032;
$primary-blue: #312DFF;
$primary-gray: #F7F7FA;

$primary-blue-hover: #2926D8;
$primary-blue-active: #090FAE;
$primary-blue-disable: rgba(#312DFF, 0.2);

//transition
$transition-def: all 0.3s ease-in-out;
$transition-slow: all 1s ease-in-out;
