.form {
	min-height: 100%;
	background-color: #EEEFF4;
	padding: 132px 220px 80px 92px;
	position: relative;
	@include break(xx){
		padding: 132px 60px 80px ;
	}
	@include break(xl){
		
	}
	&__wrapper {
		width: 648px;
	}
	&__question {
		font-size: 22px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 35.2px */
		letter-spacing: 0.22px;
		margin: 0 0 24px 0;
		color: $additional-gray;
	}
	&__btns {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px 60px;
	}
	&-btn {
		text-align: center;
		padding: 18px 47px;
		margin: 0 5px 13px;
		border-radius: 16px;
		background-color: $white;
		border: 2px solid rgba($color: #1F2032, $alpha: 0.1);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
		letter-spacing: -0.2px;
		color: $primary-black;
		transition: $transition-def;
		&:hover {
			transform: scale(1.05);
		}
		&-selected {
			color: $white;
			background-color: $primary-blue;
			&:hover {
				transform: scale(1);
			}
		}
		&-disabled {
			pointer-events: none;
			background-color: rgba($color: #81818B, $alpha: 0.1);
		}
	}
	&__inputs {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 60px 0;
	}
	&__input {
		width: 50%;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 32px */
		letter-spacing: 0.2px;
		color: $additional-gray;
		padding: 0 0 23px 0;
		border-bottom: 2px solid #E0E0E4;
		transition: $transition-def;
		&.error {
			border-bottom: 2px solid #E8412A;
			position: relative;
			&::after {
				content: "Error мessage";
				color: #E8412A;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; /* 22.4px */
				letter-spacing: 0.14px;
				position: absolute;
				left: 0;
				bottom: -5px;
			}
		}
		&-name {
			width: 100%;
			margin: 0 0 79px 0;
		}
		&-phone {
			width: calc(50% - 12px);
			margin: 0 24px 152px 0;
		}
		&-email {
			width: calc(50% - 12px);
			margin: 0 0 152px 0;
		}
		&-txt {
			width: 100%;
		}
	}
	&__tabs {
		display: flex;
		flex-direction: column;
	}
	&__tabs-title {
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 32px */
		letter-spacing: 0.2px;
		margin: 0 0 24px 0;
		color: $additional-gray;
	}
	&__tabs__wrapper  {
		display: flex;
		width: 100%;
		margin: 0 0 60px 0;
	}
	&__tab {
		width: 33%;
		padding: 18px 0;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
		letter-spacing: -0.2px;
		color: $primary-black;
		background-color: $white;
		border: 2px solid rgba($color: #1F2032, $alpha: 0.1);
		transition: $transition-def;
		&:hover {
			transform: scale(1.025);
		}
		&-selected {
			color: $white;
			background-color: $primary-blue;
			&:hover {
				transform: scale(1);
			}
		}
		&-disabled {
			pointer-events: none;
			background-color: rgba($color: #81818B, $alpha: 0.1);
		}
		&:first-child {
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;
			border-right: none;
			&:hover {
				border: 2px solid rgba($color: #1F2032, $alpha: 0.1);
			}
		}
		&:last-child {
			border-left: none;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
			&:hover {
				border: 2px solid rgba($color: #1F2032, $alpha: 0.1);
			}
		}
	}
	&__file {
		display: flex;
		margin: 0 0 60px 0;
	}
	&__file-load {
		position: relative;
		display: flex;
		align-items: center;
		margin: 0 60px 0 0;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
		letter-spacing: -0.2px;
		color: $primary-black;
		cursor: pointer;
		svg {
			margin: 0 15px 0 0;
			cursor: pointer;
		}
		input {
			position: absolute;
			width: 200%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -100%);
			opacity: 0;
			z-index: 1;
			cursor: pointer;
		}
		span {
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit; /* 30px */
			letter-spacing: inherit;
			color: inherit;
			cursor: pointer;
		}
	}
	&__file-link {
		display: flex;
		align-items: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 30px */
		letter-spacing: -0.2px;
		color: $primary-black;
		svg {
			
		}
		span {
			margin: 0 5px 0 9px;
		}
	}
	&-btn-send {
		padding: 32px 109px;
		border-radius: 16px;
		background-color: $primary-blue;
		color: $white;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 30px */
		letter-spacing: 0.2px;
		margin: 0 0 64px 0;
		transition: $transition-def;
		&:hover {
			background-color: $primary-blue-hover;
		}
		&:active {
			background-color: $primary-blue-active;
		}
		&-disabled {
			pointer-events: none;
			opacity: 0.2;
		}
	}
	&__personal {
		display: flex;
		flex-direction: column;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 24px */
		letter-spacing: 0.16px;
		span {
			color: rgba(21, 20, 26, 0.40);
		}
		a {
			color: $primary-blue;
			transition: $transition-def;
			&:hover {
				color: $primary-blue-hover;
			}
			&:active {
				color: $primary-blue-active;
			}
		}
	}
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		justify-content: center;
		align-items: center;
		background-color: $white;
		.img, svg {
			width: 164px;
			height: 164px;
			object-fit: cover;
		}
		.img {
			animation: rotate 1000s linear infinite;
		}
		&-opened {
			display: flex;
			animation: view 0.5s ease-in-out forwards;
		}
	}
	.form-error {
		padding: 284px 220px 0px 92px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
		display: none;
		&-opened {
			display: block;
		}
		.img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #E8412A;
			object-fit: cover;
			margin: 0 0 56px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				width: 32px;
				height: 32px;
			}
		}
		&-title {
			font-size: 61px;
			font-style: normal;
			font-weight: 400;
			line-height: 125%; /* 76.25px */
			letter-spacing: -0.61px;
			margin: 0 0 56px 0;
			color: #15141A;
		}
		&-subtitle {
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
			color: #15141A;
			margin: 0 0 56px 0;
		}
		&-btn {
			padding: 32px 100px;
			border-radius: 16px;
			background-color: $primary-blue;
			color: $white;
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%; /* 30px */
			letter-spacing: 0.2px;
			margin: 0 0 64px 0;
			transition: $transition-def;
			&:hover {
				background-color: $primary-blue-hover;
			}
			&:active {
				background-color: $primary-blue-active;
			}
			&-disabled {
				pointer-events: none;
				opacity: 0.2;
			}
		}
		&-close {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 62px;
			right: 62px;
			width: 42px;
			height: 42px;
			.line {
				width: 42px;
				height: 2px;
				background-color: #15141A;
				transform: rotate(45deg);
				position: relative;
				&::after {
					content: "";
					width: 42px;
					height: 2px;
					background-color: #15141A;
					transform: rotate(90deg);
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.form-success {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
		padding: 284px 220px 0px 92px;
		&-opened {
			display: block;
		}
		.img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			margin: 0 0 56px 0;
		}
		&-title {
			font-size: 61px;
			font-style: normal;
			font-weight: 400;
			line-height: 125%; /* 76.25px */
			letter-spacing: -0.61px;
			margin: 0 0 56px 0;
			color: #15141A;
		}
		&-subtitle {
			font-size: 26px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%;
			color: #15141A;
		}
		&-close {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 62px;
			right: 62px;
			width: 42px;
			height: 42px;
			.line {
				width: 42px;
				height: 2px;
				background-color: #15141A;
				transform: rotate(45deg);
				position: relative;
				&::after {
					content: "";
					width: 42px;
					height: 2px;
					background-color: #15141A;
					transform: rotate(90deg);
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270000deg);
	}
}
@keyframes view {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}